<!DOCTYPE html>
<html> 
<head> 
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
</head> 
<body style:"color: black;"> 

<p>Hi there!</p>

<p>Thanks for your support! We're here to take the pain out of asking your friends to borrow something so that you get what you need easily and efficiently. We look forward to keeping you posted as we continue to evolve our product.</p>

<p>In the meantime, if you have any thoughts and suggestions, I'd love to hear them, just reply to this email! And if you would like to try our service, or have any friends that might need something, <a href="http://borrows.herokapp.com">please visit again</a>!</p>

<p>All the best,</p>

<p>James</p>

</body> 
</html>
