<!DOCTYPE html>
<html> 
<head> 
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
</head> 
<body style:"color: black;"> 

<p>Hi there!</p>

<p>Thanks for your support! We're testing with small groups of users at a time, please be on the look out for the login information shortly!</p>

<p>In the meantime, if you have any thoughts and suggestions, I'd love to hear them, just reply to this email! And please feel free to share our <a href="http://borrows.herokuapp.com">website</a> with your friends!</p>

<p>All the best,</p>

<p>James</p>

</body> 
</html>