<!DOCTYPE html>
<html> 
<head> 
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
</head> 
<body style:"color: black;"> 

<p>Hi there!</p>

<p>Thanks for being awesome and trying out our prototype service to help you borrow what you need! I hope you'll borrow something soon! Until then, if you have any questions or any thoughts you want to share, just respond to this email! At times, I may send you an email reminder to borrow when I get new inventory or a holiday weekend is coming up. If you'd rather not receive these, reply and let me know as well.</p>

<p>Thanks and happy borrowing!</p>

<p>James</p>

<p><a href="http://www.projectborrow.com/?utm_source=james%40projectborrow&utm_medium=email&utm_campaign=email%20signature">Click here</a> to borrow something. Please feel free to share with your friends!</p>

</body> 
</html>