<div class="col-xs-12">
  <h4>Thanks! You've already accepted or declined this request</h4>
  <p><%= "Please #{link_to 'click here', manage_inventory_path, {style: 'color:#428bca'}} to go to your lender dashboard and see all of your requests." %></p>
</div>