<div class="col-xs-12">
  <h4>Apologies, you caught us while we are doing some maintenace!</h4>
  <p>We should be done soon, in the meantime, if you need to borrow something or have any questions, please <%= mail_to 'james@projectborrow.com', 'send us an email', {style: 'color:#428bca'} %>.</p>
</div>