<!DOCTYPE html>
<html> 
<head> 
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
</head> 
<body style:"color: black;"> 

<p>Hi there,</p>

<p><%= "#{@borrower_email}, CC'd, has cancelled the request for #{@item} from #{@pickupdate} to #{@returndate}. Our records have been updated, thank you again for being willing to help out and apologies for any inconvenience." %></p>

<p>Best,</p>

<p>James</p>

<p><a href="http://www.projectborrow.com/?utm_source=james%40projectborrow&utm_medium=email&utm_campaign=email%20signature">Click here</a> to borrow something. Please feel free to share with your friends!</p>

</body> 
</html>