<!DOCTYPE html>
<html> 
<head> 
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
</head> 
<body style:"color: black;"> 

<p>Hi there!</p>

<p>
	<%= "One of our borrowers would like to borrow #{pluralize(@quantity,@item.downcase)} between #{@requestrecord.pickupdate.to_date} and #{@requestrecord.returndate.to_date}. Can you help them out?"%>

	<%= "If so, let us know as well if you can lend 1 or more #{@item.downcase.pluralize}." if @quantity > 1 %>

	<%= "Here's a personal note from the borrower: '#{@requestrecord.detail}' " if @requestrecord.detail.present? %>
</p>

<p>Once we hear back, we'll connect you with the borrower directly to coordinate further. Thanks again for being a great sharer!</p>

<p>James</p>

<p><a href="http://www.projectborrow.com/?utm_source=james%40projectborrow&utm_medium=email&utm_campaign=email%20signature">Click here</a> to borrow something. Please feel free to share with your friends!</p>

</body> 
</html>