<!DOCTYPE html>
<html> 
<head> 
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
</head> 
<body style:"color: black;"> 

<p>Hi there!</p>

<p>One of our borrowers would like to borrow <%= pluralize("#{@quantity}","#{@item.name}") %> between <%= "#{@item.request.pickupdate.to_date} and #{@item.request.returndate.to_date}"%>. Can you help them out with what you have? If so, we'll connect you with the borrower directly to coordinate further.</p>

<% if @item.request.detail.present? %>
	<p><%= "Here's a note from the borrower: #{@t.request.detail}" %>
<% end %>

<p>Thanks again for being a great sharer!</p>

<p>James</p>

<p><a href="http://www.projectborrow.com/?utm_source=james%40projectborrow&utm_medium=email&utm_campaign=email%20signature">Click here</a> to borrow something. Please feel free to share with your friends!</p>

</body> 
</html>