<!DOCTYPE html>
<html> 
<head> 
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
</head> 
<body style:"color: black;"> 

<p>Hi there,</p>

<p><%= "We did our best to find a #{@item} for you, but unfortunately our lenders have not responded affirmatively in time. I hope you will continue to think of Project Borrow in the future. Please also note, if you requested multiple #{@item.pluralize}, this email is meant to reflect the status of one of these items only."%></p>

<p>If you have a moment, as I'm interested in studying this space, I'd like to know what other options you will or plan to pursue, you can just bold or select a letter and let me know.</p>

<ul>
	<% Status.where(statuscategory_id: Statuscategory.find_by_name("2 Did not use PB").id).all.each do |status| %>
	<li><%= status %></li>
<ul>

<p>Best,</p>

<p>James</p>

<p><a href="http://www.projectborrow.com/?utm_source=james%40projectborrow&utm_medium=email&utm_campaign=email%20signature">Click here</a> to borrow something. Please feel free to share with your friends!</p>

</body> 
</html>