<!DOCTYPE html>
<html> 
<head> 
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
</head> 
<body style:"color: black;"> 

<p>Hi there,</p>

<p><%= "Our records indicate that you already made a request for a #{@item} from #{@pickupdate} to #{@returndate} on #{@createdat}. Therefore, we did not put in a request for this item again (though if you requested other things today as well, those are being processed separately)."%></p>

<p>We apologize if you are just anxious and haven't heard back from the other lenders yet. We are still growing our supply and hope to provide ever faster responses! If you have any exceptional concerns, please reply to this email and let us know!</p>

<p>Best,</p>

<p>James</p>

<p><a href="http://www.projectborrow.com/?utm_source=james%40projectborrow&utm_medium=email&utm_campaign=email%20signature">Click here</a> to borrow something. Please feel free to share with your friends!</p>

</body> 
</html>