<!DOCTYPE html>
<html> 
<head> 
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
</head> 
<body style:"color: black;"> 

<p>Hi there!</p>

<p>We received your request for the following items:</p>
<ul>
	<% @requestrecord.borrows.pluck(:itemlist_id).each do |itemlist_id| %>
	<li><%= Itemlist.find_by_id(itemlist_id).name %></li>
	<% end %>
</ul>

<p><%= "However, we recorded your Pick Up Date as today, returning on #{@requestrecord.returndate.to_date}. Just wanted to set expectations that it's often very difficult for lenders to respond with a day's notice. We'll do what we can and provide updates as soon as we get them." %></p>

<p>Best,</p>

<p>James</p>

<p><a href="http://www.projectborrow.com/?utm_source=james%40projectborrow&utm_medium=email&utm_campaign=email%20signature">Click here</a> to borrow something. Please feel free to share with your friends!</p>

</body> 
</html>