<div class="container-fluid vert-table">
    <div class="vert-tablecell" style="background-color: #BDDEFC;">

        <div class="container opaque-container">
          <%= render "layouts/flash" %>
          
          <%= render "requests/requestform" %>


        </div>
    </div>
</div>