  <div class="col-xs-12" style="padding-bottom:1%;">
    <h4><%="Step 2 of 2: Borrow away, #{@signup_parent.email}!"%></h4>
    <h5 style="font-size:100%; font-style:italic"><%= link_to '(I want to lend)', new_inventory_path, { style: 'color:#428bca'}%></h5>
    <p style="font-style:italic;">Woohoo, now you get to tell us what you need! A few things to keep in mind:</p>
    <ul style="font-style:italic;">
    <li><b>Request size:</b> When you submit, we'll send an email to the lender(s) with the item(s) and connect you if they accept your request. Large requests are likely to be fulfilled by multiple lenders in different locations</li>
    <li><b>Location:</b> The majority of our lenders are in San Francisco</li>
    <li><b>Timing:</b> We recommend submitting a request 1-2 weeks in advance with an extra day on the Pick Up and Return side. At this time, we do not have enough lenders to honor requests lasting longer than 2 weeks</li>
    </ul>
  </div>
        	
  <%= render "layouts/requestform" %>