  <div class="col-xs-12" style="padding-bottom:1%;">
    <h4><%="Step 2 of 2: Borrow away, #{@signup_parent.email}!"%></h4>
    <h5 style="font-size:100%; font-style:italic"><%= link_to '(I want to lend)', new_inventory_path, { style: 'color:#428bca'}%></h5>
    <p style="font-style:italic;">Woohoo, now you get to tell us what you need! A few things to keep in mind:</p>
    <ul style="font-style:italic;">
		<li>When you submit the request, we'll send an email to the lender(s) with the item(s) and connect you if they're accept your request</li>
    <li>The sweet spot seems to be submitting a request 1-2 weeks in advance, long enough for lenders to respond and short enough for lenders to know their own availability</li>
		<li>We recommend giving yourself an extra day on both the Pick Up and Return side to give lenders time to respond and so you can make sure the items will work for you and clean when done</li>
    </ul>
  </div>
        	
  <%= render "layouts/requestform" %>