  <div class="col-xs-12" style="padding-bottom:1%;">
    <h4><%="Step 2 of 2: Borrow away, #{@signup_parent.email}!"%></h4>
    <h5 style="font-size:90%; font-style:italic">
      Click to 
      <%= link_to 'lend stuff', @signup_parent.inventories.count > 0 ? manage_inventory_path : new_inventory_path, { style: 'color:#428bca'}%>
    </h5>

    <p>Woohoo, now you get to tell us what you need! Please keep in mind:</p>
    <ul style="font-size:90%;">
    <li><b>Once you submit</b> we'll send an email to all the lenders who have the item(s) you want, and connect you with whoever 'accepts' first. Large requests are likely to be fulfilled by multiple lenders in different parts of the city (majority of lenders are in San Francisco)</li>
    <li><b>Timing:</b> We recommend submitting a request 1-2 weeks in advance with an extra day on the Pick Up and Return side. Note: it may be difficult for Lenders to respond to same day requests</li>
    </ul>
  </div>
        	
  <%= render "layouts/requestform" %>