<head>
<meta charset="UTF-8">
<meta name="description" content="Request stuff to borrow">
<meta name="robots" content="noodp">
</head>

  <div class="col-xs-12" style="padding-bottom:1%;">
    <h4><%="Step 2 of 2: Borrow away, #{@signup_parent.email}!"%></h4>
    <h5 style="font-size:100%; font-style:italic"><%= link_to '(I want to lend)', new_inventory_path, { style: 'color:#428bca'}%></h5>
    <p style="font-style:italic;">Woohoo, now you get to tell us what you need! A few things to keep in mind:</p>
    <ul style="font-style:italic;">
		<li>Below are all the items our lenders have made freely available, please stick to the list</li>
		<li>We recommend giving yourself an extra day on both the Pick Up and Return side so you can make sure the items will work for you and clean them when you're done</li>
    </ul>
  </div>
        	
  <%= render "layouts/requestform" %>