<div class="container-fluid vert-table">
    <div class="vert-tablecell fill" style="background-color: #2E9AFE;">

        <div class="container opaque-container">
          <%= render "requests/requestform" %>

        </div>
    </div>
</div>
