  <div class="col-xs-12" style="padding-bottom:1%;">
    <h4><%="Step 2 of 2: Last step, #{@signup_parent.email}!"%></h4>
    <p style="font-style:italic;">Of course, now you get to tell us what you need! A few things to keep in mind:</p>
    <ul style="font-style:italic;">
		<li>Below are all the items our lenders have made freely available, please stick to the list</li>
		<li>We recommend giving yourself an extra day both Pick Up and Return side so you can check out the items first and clean them when you're done</li>
		<li>The majority of our sharers and their items are in San Francisco</li>
    </ul>
  </div>
        	
  <%= render "layouts/requestform" %>