  <div class="col-xs-12" style="padding-bottom:1%;">
    <h4><%="That's it, you're done!"%></h4>
  </div>

  <div class="col-xs-4 col-xs-offset-4" style="padding-top:2%; padding-bottom:2%">
    <%= image_tag("Relax.GIF", class: "img-responsive horiz", id: "relax", alt: "Relax", title: "Relax", width: "100%") %>
  </div>
  
  <div class="col-xs-8 col-xs-offset-2">
    <p>Now relax and wait, we've reached out to lenders and will notify you as soon as we hear back. You should expect to receive one email either way for each item you requested. If you have any questions or concerns, <%= mail_to 'james@projectborrow.com', 'email us', {style: 'color:#428bca'} %>.</p>
    <br>
    <p>Oh, and while you're waiting...
    	<ul>
    		<li style="font-size:90%"><b>Recommend Project Borrow to friends:</b> For each friend who borrows/lends from us with you as a referral, you'll get free pickup/delivery from one lender in San Francisco! (Please remind us as well so we can lookout for this)</li>
	        <!-- AddThis Button BEGIN -->
	        <div class="addthis_toolbox addthis_default_style addthis_16x16_style" style="padding-top:1%">
		        <a class="addthis_button_email"></a>
		        <a class="addthis_button_facebook"></a>
		        <a class="addthis_button_twitter"></a>
		        <a class="addthis_button_linkedin"></a>
		        <a class="addthis_button_google_plusone_share"></a>
		        <a class="addthis_button_pinterest_share"></a>
		    </div>
		    <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
	        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-530ee7046fcbd127"></script>
	        <!-- AddThis Button END -->
          	<br>
    		<li style="font-size:90%"><b>Download our handy Google Chrome Extension:</b> It's hard to remember to borrow, so we made a tool to remind you when we have something you're browsing e-commerce sites or searching on Google! <%= link_to 'Click here to download', 'javascript:chrome.webstore.install()', {style: 'color:#428bca', id: 'chrome-extension'} %>.</li>
    	</ul>
    </p>
  </div>

  <script>
  $('chrome-extension').click(function(ev) { 
       if (!document.getElementById('extension-is-installed')) {
            chrome.webstore.install();
        }
    });
  </script>