<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <style type="text/css">
      #map-canvas {
        height: 500px;
        margin: 0px;
        padding: 0px
      }
    </style>
    <%="<script type='text/javascript'
      src='https://maps.googleapis.com/maps/api/js?key=#{ENV['GoogleMap']}&libraries=geometry'></script>".html_safe %>
 
  </head>
  <body>
  	<div class="col-xs-2" id="cart">
			<h4>CART</h4>
			<ul>
			</ul>
	  </div>
    <div class="col-xs-6" id="map-canvas">
    </div>
  </body>
</html>

<script>
  var map;
  function initialize() {
    var mapOptions = {
      zoom: 13,
      center: new google.maps.LatLng(gon.borrower.latitude, gon.borrower.longitude) 
    };
    map = new google.maps.Map(document.getElementById('map-canvas'),
        mapOptions);

    var markers = {};
    var infowindows = {};
    $.each( gon.jbuilder, function (counter, lender) { 
      var contentString = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h1 id="firstHeading" class="firstHeading">'+ lender.email + '</h1>'+
        '<div id="bodyContent">'+
        '<ul>' +
        $.map( lender.inventories, function (inventory, counter) {
          if (inventory.description == null || inventory.description == "") {
            var description = ''
          } else {
            var description = ': ' + inventory.description
          };
          return '<li id="add_inventory" data-id="' + inventory.id + '" data-description="' + description + '" data-lender_email="' + lender.email + '" data-name="' + inventory.name + '">' + inventory.name + description + '</li>';
        }).join('') +
        '</ul>' +
        '</div>'+
        '</div>';
      markers[counter] = new google.maps.Marker({
        position: new google.maps.LatLng(lender.latitude, lender.longitude),
        map: map,
        title: lender.email
      });
      infowindows[counter] = new google.maps.InfoWindow({
        content: contentString
      });
      markers[counter].setMap(map);
      google.maps.event.addListener(markers[counter], 'click', function() {
        infowindows[counter].open(map,markers[counter]);
      });
    });
  };
  google.maps.event.addDomListener(window, 'load', initialize);

  populateCart(); // Populates the cart when page loads

  $(document).on("click", "#add_inventory", function() { 

    // Get current state of our items from session
    var items = JSON.parse(sessionStorage.getItem("cart"));
    if(items === null) // if cart is empty
        items = [];

    var id_to_add = $(this).data('id');
    var exist=$.grep(items, function(obj) { return obj.id == id_to_add; });
    if(exist.length===0) {
      //Build the item
      var item = {
        id: $(this).data('id'),
        name: $(this).data('name'),
        description: $(this).data('description'),
        lender_email: $(this).data('lender_email')
      };
      items.push(item); // Push item to the cart
      sessionStorage.setItem("cart", JSON.stringify(items)); // Save cart back to session
      addToCart(item); // append item to the cart
    }  
  });

  $(document).on("click", "#remove_inventory", function() {

    // Get current state of our items from session
    var items = JSON.parse(sessionStorage.getItem("cart"));

    // Find the clicked item and remove it from items
    for (var i = 0; i < items.length; i++)
      if (items[i].id && items[i].id === $(this).data('id')) { 
          items.splice(i, 1);
          break;
      }

    sessionStorage.setItem("cart", JSON.stringify(items)); // Save cart back to session
    removeFromCart($(this).data('id')); // remove item from the cart
  });

  function populateCart(){
    var items = JSON.parse(sessionStorage.getItem("cart"));
      if(items !== null){
         var cart = $('#cart > ul');
         for (i = 0; i < items.length; i++) {
           cart.append('<li id="remove_inventory" data-id="' + items[i]['id'] + '" data-description="' + items[i]['description'] + '" data-lender_email="' + items[i]['lender_email'] + '" data-name="' + items[i]['name'] + '">' + items[i]['name'] + items[i]['description'] + '</li>');
         }
      }
  }

  function addToCart(item){
    $('#cart > ul').append('<li id="remove_inventory" data-id="' + item['id'] + '" data-description="' + item['description'] + '" data-lender_email="' + item['lender_email'] + '" data-name="' + item['name'] + '">' + item['name'] + item['description'] + '</li>');
  }

  function removeFromCart(item_id){
    $('#cart > ul').find('li[id=' + item_id + ']').remove();
  }

</script>

<!-- <table class="table table-condensed table-hover">
    <thead>
      <tr>
        <th class="col-xs-2">Email</th>
      </tr>
    </thead>

    <tbody>
      <tr>
		<%# @lenders.each do |l| %>
		  <td><%#= "#{l.email}" %></td>
		<%# end %>
	  </tr>
	</tbody>
</table>  

<script>
</script>
 -->


