<!DOCTYPE html>
<html> 
<head> 
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
</head> 
<body style:"color: black;"> 
<head>
<meta charset="UTF-8">
<meta name="description" content="Manage borrower requests">
<meta name="robots" content="noodp">
</head>

<p>Hi there <%= @lender_email%>!</p>

<p>It's now easier than ever to manage your requests, because you can do it in this very email, just as you would on <%= link_to "www.ProjectBorrow.com", root_path %>!</p>

<ol>
	<li><b>Click the YES or NO next to each request</b> (if there are multiple, choose whomever; and remember that any duplication just means that the borrower wants more than one, sometimes they'll include specific needs which will help you decide which to accept) 
	<li>Upon click, a new page will open that takes you to your dashboard. If you are not logged in, you'll be asked to do so, but regardless the website will register your YES or NO click, and you will not have to click again</li>
</ol>

<p>Thank you for making someone's day!</p>

<p>James</p>

<%= render "layouts/lenderdashboard" %>

</body> 
</html>