<!DOCTYPE html>
<html> 
<head> 
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
</head> 
<body style:"color: black;"> 
<head>
<meta charset="UTF-8">
<meta name="description" content="Manage borrower requests">
<meta name="robots" content="noodp">
</head>

<p>Hi there <%= @lender_email%>!</p>

<p>By request, it's now easier than ever to manage your requests, because you can do it in the email right below, just as you would on www.ProjectBorrow.com! Simply click the YES or NO next to each request. A new page will open that takes you to your dashboard (you may be asked to log in again, but this will <b>not</b> interrupt with the YES or NO that you clicked). If there are multiple borrowers for one item, choose whomever!</p>
<!-- 
<p>Your neighbors would like to borrow your stuff! You can manage requests at www.ProjectBorrow.com or simply use the table below, just as you would on the website. Simply click the YES or NO buttons next to each dated request, and a new page will open that takes you to your dashboard (note, you may be asked to log in again, but this will not interrupt with the YES or NO click). If there are multiple borrowers for one item, choose whomever!</p> -->

<%= render "layouts/lenderdashboard" %>

<p>Thank you for making someone's day!</p>

<p>James</p>

<p><a href="http://www.projectborrow.com/?utm_source=james%40projectborrow&utm_medium=email&utm_campaign=email%20signature">Click here</a> to borrow something. Please feel free to share with your friends!</p>

</body> 
</html>