<!DOCTYPE html>
<html> 
<head> 
	<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" /> 
</head> 
<body style:"color: black;"> 

<p>Hi there!</p>
<!-- <br> -->
<p><b>You've been sent an invitation to join Project Borrow, a platform to help you borrow occasional-use items from your Facebook friends.</b> Next time you're going on a camping trip or need to build some furniture, there'll be no more:</p>
	<ul>
		<li>Wondering who has a tent</li>
		<li>Sending out-of-the-blue requests to someone you haven't talked to in months to borrow a drill</li>
		<li>Risk of forgetting, losing, or damaging stuff</li>
	</ul>
<!-- <br> -->
<p>Why are we doing this? Because there's so much good stuff out there, and sharing can be so easy! <b>We're launching soon in San Francisco, to be one of the first to get an invite, please visit <a href="http://www.projectborrow.com/?utm_source=friend%20referral&utm_medium=email">www.projectborrow.com</a></b>.</p> 
<!-- <br> -->
<p>Thanks and happy borrowing!</p>

<p>James</p>

<p><a href="http://www.projectborrow.com/?utm_source=james%40projectborrow&utm_medium=email&utm_campaign=email%20signature">Click here</a> to borrow something. Please feel free to share with your friends!</p>

</body> 
</html>