@import "bootstrap";

h1, h2, h3, h4, h5 {
    text-align: center;
}

html {
  height: 100%;
  width: 100%;
  overflow: auto;
  min-width: 100%;
  min-height: 100%;
}

body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  padding-bottom:150px;
}

.footer {
  position: relative;
  margin-top: -150px;
  height: 150px;
  clear:both;
  padding-top:20px;
  text-align: center;
  font-size:80%;
}


.regular {
     margin: 0;
     background-color:#FFFFF;
 }

.box {
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
}


/* This chunk is used to create a rounded border opaque white container
.home-container {
    border-top-left-radius: 50px 50px;
    border-bottom-left-radius: 50px 50px;
  border-bottom-right-radius: 50px 50px;
  border-top-right-radius: 50px 50px;
    background-color: rgba(245, 245, 245, 0.7);
    font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}
*/



.home-nav-btn {
  color: black;
  background-color: white;
}