@import "bootstrap";

h1, h2, h3, h4, h5 {
    text-align: center;
}

html {
  height: 100%;
  width: 100%;
  overflow: auto;
  min-width: 100%;
  min-height: 100%;
}

body {
  height: 100%;
  width: 100%;
}

.HomeCarousel {
  position: relative;
}


.regular {
     margin: 0;
     background-color:#FFFFF;
 }

/**************************************/

/* Verticalizes whatever on the screen */
.vert-table {
  height:100%;
  display:table;
  width: 100%;
  padding: 0;
}

.vert-tablecell {
  height: 100%; 
  display:table-cell; 
  vertical-align: middle;
}

/**************************************/

/* Ensures that the carousel slide on home page is full screen on any screen */

.carousel,.item,.active {
  width: 100%; 
  height:100%;
}
.carousel-inner {
  width: 100%; 
  height:100%;
}
.fill { 
  width:100%;
  height:100%;
  background-position:center;
  background-size:cover;
}
/****************************************/

/* Since full screen image is a background image, background-color for carousel controls must be transparent, not black */

.carousel-control:hover {
  background-color:transparent;
}

/****************************************/

/* Border for each category in the request form*/
.box {
    border: 1px solid black;
    padding: 5px 5px 5px 5px;
}

/****************************************/

/* Creates opaque container */
.opaque-container {

    /* Optional rounded border
    border-top-left-radius: 50px 50px;
    border-bottom-left-radius: 50px 50px;
    border-bottom-right-radius: 50px 50px;
    border-top-right-radius: 50px 50px; 
    */

    background-color: white;
    z-index: 1000;
    opacity: 1;
    padding: 20px 20px 20px 20px;
}

/****************************************/

/* Creates the floating home container about the carousel */

.home-float {
  width: 70%;
  top: 10%;
  left: 15%;
  background-color: black;
  position:absolute;
  opacity: 0.8;
  z-index: 1000;
  padding: 5px 20px 5px 20px;

  color:white;
  font-size: 150%;
  text-align: center;
}

.home-btn {
  color:black;
  background-color: white;
  opacity: 1;
}

.home-share {
  position:absolute;
  top:10%;
  left:80%;
  width:20%;
}

/*************************************************************/