<div id="HomeCarousel" class="carousel slide">
	<ol class="carousel-indicators">
		<li data-target="#HomeCarousel" data-slide-to="0" class="active"></li>
		<li data-target="#HomeCarousel" data-slide-to="1"></li>
		<li data-target="#HomeCarousel" data-slide-to="2"></li>
		<li data-target="#HomeCarousel" data-slide-to="3"></li>
		<li data-target="#HomeCarousel" data-slide-to="4"></li>
	</ol>

	<div class="carousel-inner">

	<% @images.each_with_index do |(image, caption), index| %>
		<% if index == 0 %>
			<div class="item active">
		<% else %>
			<div class="item">
		<% end %>
				<div class ="fill" style="background-image: url(<%= asset_path "#{image}.jpg" %>);">
					<div class="carousel-caption">
						<h4><%= caption %></h4>
				    </div>
				</div>
			</div>
	<% end %>


	</div>

	<a class="left carousel-control" href="#HomeCarousel" data-slide="prev">
    	<span class="glyphicon glyphicon-chevron-left"></span>
  	</a>
  	<a class="right carousel-control" href="#HomeCarousel" data-slide="next">
   		<span class="glyphicon glyphicon-chevron-right"></span>
  	</a>

	</div>

</div>