	<% @howtoimages.each do |image, tag| %>
		<div class="col-xs-4" style="text-align:center;">
			<div class="col-xs-6" style="padding:1%;">
				<%= image_tag("#{image}.png", class: "img-responsive centered", alt: "Submit a request", title: "Submit a request", width: "70%") %>
			</div>
			<div class="col-xs-6" style="padding-top:5%">
				<p style="font-size:110%;"><%= tag %></p>
			</div>
		</div>
	<% end %>